@model AppUser
@{
    ViewBag.Title = "Create New Role";
}

    <div class="container portfolio">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <img src="https://image.ibb.co/cbCMvA/logo.png" />
                </div>
            </div>
        </div>
        <div class="bio-info">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="bio-image">
                               
                                @if (Model.Img == null)
                    {
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                    }
                    else
                    {
                                <img src="~/img/@Model.Img" alt="avatar">

                    }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="bio-content">
                        <h1>@Model.Email</h1>
                        @*<h6>Age / Height : 21 Yrs. / 5ft 9In</h6>
        <h6>Caste : Gujarati</h6><h6>Mother Tongue : Hindi</h6><h6>Location : India</h6><h6>Education : Bachelors in Commerce</h6><h6>Profession : Web Developer</h6><h6>Marital Status : Un Married</h6>
        <p>My Broter Vastal Raviya Has Done BBM & Clear CS (inter) Also Doing LLB</p>*@
                        <div class="col-xs-6">
                            <label><h6>City:</h6></label>
                            <label><h6>@Model.City</h6></label>

                        </div>


                        <div class="col-xs-6">
                            <label><h6>Street:</h6></label>
                            <label><h6>@Model.Street</h6></label>
                        </div>

                        <div class="col-xs-6">

                            <label><h6>Position:</h6></label>
                            <label><h6>@Model.Position</h6></label>
                        </div>
                        <a asp-action="Edit" asp-controller="Profile" class="btn btn-primary"> Edit</a>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
